@import './../../../../../../styles/variables';

textarea, input, select{

    border: 1px solid $color1;
    border-radius: 10px;
    min-height: 40px;

}

label{
    display: flex;
    justify-content: flex-start; 
    min-height: 50px;
    align-items: flex-end;
}

.image{
    background-repeat: no-repeat;
    background-size: cover;
    min-width: 100px;
    max-width: 100px;
    min-height: 100px;
}